POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=imsd02
POSTGRES_USER=imsd02
POSTGRES_PASSWORD=imsd02

# Test DB can reuse the same instance, but should use a separate database if desired.
POSTGRES_TEST_DB=imsd02_test
